body {
    font-family: $fontFamily;
    font-size: $fontSize;
    color: $primaryColor;

    a.link{
        text-decoration: none;
        color: $linkColor;
        display: inline-block;

        &:hover {
            text-decoration: underline;
        }
    }

    .clearfix::after {
        @include clearfix;
    }

    ul {
        list-style-type: none;
    }
}


.container {
    max-width: 1200px;
    margin: 0 auto;

    &::after {
        @include clearfix;
    }

}

section {
    padding: $spacing*4 0 $spacing*3;

    &.black-bg {
        background-color: $primaryColor;
        color: $secondaryColor;
    }

    .intro-text {
        max-width: 970px;
        margin: auto;
        text-align: center;
    }

}
