header {
    background-color: $primaryColor;

    .top-header ul {
        margin: $spacing/2 0;
        float: right;
        font-size: $fontSize*0.8;

        li {
            display: inline-block;
            margin: 0 $spacing/2;

            a {
                text-decoration: none;

                i {
                    color: $linkColor
                }

                span {
                    // color: #989898
                    color: $subColor;
                    margin-left: $spacing/4;
                }

                &:hover span {
                    text-decoration: underline;
                    color: $secondaryColor;
                }
            }
        }
    }

    .bottom-header .navbar {
        padding: 0;
        margin: 0;
        float: left;
        font-size: $fontSize*0.8;
        @include flex(flex-start, center);

        & > li {
            display: inline-block;
            position: relative;

            img {
                margin-right: $spacing;
            }

            & > a {
                color: $secondaryColor;
                text-decoration: none;
                display: inline-block;
                padding: $spacing*0.7 $spacing*1.4;

                &.dropdown::after {
                    font-family: "Font Awesome 5 Free";
                    font-weight: 900;
                    content: "\f107";
                    color: $subColor;
                    margin-left: $spacing / 4;
                }

                &:hover {
                    background-color: $secondaryColor;
                    color: $primaryColor;
                }

                &:hover + .dropdown-menu,
                & + .dropdown-menu:hover {
                    display: inline-block;
                }
            }
        }
    }

}

.dropdown-menu {
    display: none;
    width: 200px;
    padding: 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 3;

    li a {
        display: block;
        padding: $spacing/2;
        color: $primaryColor;
        background-color: $secondaryColor;
        text-decoration: none;

        &:hover {
            background-color: $darkerSecondaryColor;
        }
    }
}
