@mixin clearfix {
    content: '';
    clear: both;
    display: table;
}

@mixin flex($myJustify, $myAlign) {
    display: flex;
    justify-content: $myJustify;
    align-items: $myAlign
}
